# Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# Generated training artifacts (re-created by running the notebooks)
models/
logs/
outputs/
plots/*
*.zip
optuna_best_params.json

# Keep committed report figures
!plots/
!plots/configA_env_exploration.png
!plots/configB_*.png
